.cl-component.cl-sign-in {
  padding: 1px !important;
}

.cl-component.cl-sign-up {
  padding: 1px !important;
}

.cl-component .cl-logo {
  display: none !important;
}

.cl-component .cl-auth-form-header {
  padding: 0em 0 0 0 !important;
}

.cl-component .cl-auth-form-header-logo {
  min-height: 0px !important;
}

.cl-component {
  --clerk-background-color: #1a202c;
  /* --clerk-box-shadow: -1 2px 8px rgba(0, 0, 0, 0.2); */
}

.cl-component {
  margin-bottom: 0em;
}

input#text-field-identifier {
  background-color: #1a202c;
}

input#emailAddress {
  background-color: #1a202c;
}

input#password {
  background-color: #1a202c;
}

.cl-component.cl-user-button-popup {
  background-color: #151515;
  padding: 1rem 0;
}

.cl-component .cl-auth-form-message strong {
  color: #ffffff !important;
}

/* .hXjh5Waxs3XN6zW5pfXs {
  background-color: none;
} */

/* .hXjh5Waxs3XN6zW5pfXs {
  background-color: #1a202c;
} */

/* .cl-component.cl-sign-in,
.cl-component.cl-sign-up {
  padding: 0rem 0rem;
} */

/* span.I5LAUiZ_1LvjHChTQkwt.cl-label {
  display: "none";
}

.I5LAUiZ_1LvjHChTQkwt {
  display: none;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 0.25em;
} */

/* Sign Up Link */

/* .cl-component .cl-auth-form-link {
    display: none !important;
  } */

/* .cl-component {
  --clerk-box-shadow: -1 2px 8px rgba(0, 0, 0, 0.2);
} */
